<mat-card>
    <mat-card-title>{{ 'USER-DASHBOARD.TITLE' | translate}}</mat-card-title>
    <mat-card-subtitle>{{userData.fullName}}</mat-card-subtitle>

    <mat-card-content class="content">
        <h3>{{ 'USER-DASHBOARD.TASKS' | translate}}</h3>

        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="label">
                <mat-header-cell *matHeaderCellDef fxFlex="grow">{{'USER-DASHBOARD.TABLE-TOOL' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="openTask(element.id)" fxFlex="grow">
                    {{element.toolLabel | translate}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="done">
                <mat-header-cell *matHeaderCellDef fxFlex="none">{{'USER-DASHBOARD.TABLE-DONE' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="none">
                    <button mat-icon-button color="primary" (click)="markTaskAsDone(element.id)">
                        <mat-icon>done_outline</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayColumns" style="width: 100%;" fxFlexLayout="center center">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayColumns;" fxFlexLayout="center center"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>

    </mat-card-content>

    <mat-card-actions class="actions">
        <button mat-raised-button color="accent"
            (click)="navigateToDocument()">{{'USER-DASHBOARD.OPEN-DOCUMENTS' | translate}}</button>
    </mat-card-actions>
</mat-card>