.contentholder {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 0.5em;
    z-index: 1;
}

.spacer {
    flex-grow: 1;
    z-index: 1;
}

@keyframes wobble {
    from {transform: rotate(1deg);}
    to {transform: rotate(-1deg);}
}

.selected {
    border-radius: 38%;
    padding: 0.2em;
    border: 0.2em solid black;
}

.longpress {
    animation-name: wobble;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.unselected {
    padding: 0.4em
}

.filtered {
    opacity: 0.6;
}

.entryDiv {
    border-radius: 38%;
    margin: 0.2em;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(52,47,51,.63);
    z-index: 2;
}

.content {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 0;
}

.contextMenuContainer{
    position: absolute;
}

.footer {
    flex-grow: 0;
    flex-shrink: 0;
    color: #ffffff;
    background-color: #00618F;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}