.searchResult{
    margin: 0.5em 0;
    outline: 2px #0000002e solid;
    border-radius: 10px;

}


.green {
        background-color: rgb(90, 153, 90);
    }

.white {
        background-color: rgb(255, 255, 255);
    }