<div class="header">
    <h3>{{'POPUP-COMMENTS.TITLE' | translate}}</h3>

    <mat-card>
        <mat-form-field>
            <mat-label>{{'POPUP-COMMENTS.NEWCOMMENT' | translate}}</mat-label>
            <textarea matInput [(ngModel)]="commentText" cdkTextareaAutosize cdkAutosizeMaxRows="3"
                cdkAutosizeMinRows="3" style="width: 100%;"></textarea>
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button style="width: 100%;" color="accent" (tap)="submit()">
                <span>{{'POPUP-COMMENTS.SEND' | translate}}</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="content">
    <mat-card *ngFor="let entry of displayData" class="entryDiv">
        <mat-card-content>
            <mat-form-field>
                <mat-label>{{entry.user | translate}}</mat-label>
                <textarea matInput cdkTextareaAutosize readonly="true" #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2" style="width: 100%;" [value]="entry.label"></textarea>
                <mat-hint>{{entry.create | date:'dd.MM.yyyy HH:mm:ss'}}</mat-hint>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>