<div class="header">
    <div *ngIf="lastAnnotations.length">
        <h5>{{'POPUP-PICKER.LASTANNOS' | translate}}</h5>
        <div *ngFor="let entry of lastAnnotations" class="entryDiv" [style.background]="entry.rgb"
            (tap)="selected(entry)">
            {{ entry.name }}
        </div>
    </div>
</div>


<div>

    <h2>Entities</h2>
    <div *ngFor="let entry of annotations" class="entryDiv" [style.background]="entry.rgb" (tap)="selected(entry)"
        [ngClass]="highlightAnnotation.has(entry.type) ? 'highlight' : ''">
        <span>{{ entry.name }}</span>
        <mat-icon *ngIf="highlightAnnotation.get(entry.type)" style="vertical-align: bottom;">person</mat-icon>
    </div>


    <ng-container *ngIf="index != -1">
        <h2>Attributes</h2>
        <form [formGroup]="profileForm">

            <div *ngFor="let inp of text_inputs; index as i">
                <mat-form-field [floatLabel]="true" appearance="outline">
                    <mat-label>{{inp.key}}</mat-label>
                    <input matInput formControlName={{inp.key}} placeholder="Just a placeholder">
                    <br />
                </mat-form-field>
            </div>

            <ng-container *ngFor="let feature of features_typed">
                <ng-container *ngIf="feature[1].type == 0">
                    <mat-form-field [floatLabel]="true" appearance="outline">
                        <mat-label>{{feature[1].display_name}}</mat-label>
                        <mat-select formControlName={{feature[0]}}>
                            <mat-option *ngFor="let feature_value of feature[1].select_option"
                                [value]="feature_value.value">
                                {{feature_value.display_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </ng-container>




        </form>
    </ng-container>

</div>