.contentholder {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.entryDiv {
    border-radius: 9%;
    padding: 0.2em;
    margin: 0.2em;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(52,47,51,.63);
}

.highlight {
    border: 0.3em solid black;
}

.header {
    flex-grow: 0;
    flex-shrink: 0;
}

.content {
    overflow-y: auto;
    flex-grow: 1;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
div.entry-entity {
    display: flex;

}
div.entry-entity > div.entity{
    flex-grow: 1;
}