<div class="header">
    <div *ngIf="lastAnnotations.length">
        <h5>{{'POPUP-PICKER.LASTANNOS' | translate}}</h5>
        <div *ngFor="let entry of lastAnnotations" class="entryDiv" [style.background]="entry.rgb"
            (tap)="selected(entry)">
            {{ entry.name }}
        </div>
    </div>
</div>

<mat-tab-group class="content">
    <mat-tab label="Entities">
        <div>
            <h2>Entities</h2>
            <div class="entry-entity" *ngFor="let entry of annotations">
                <div (tap)="selected(entry)" class="entryDiv entity" [style.background]="entry.rgb"
                    [ngClass]="highlightAnnotation.has(entry.type) ? 'highlight' : ''">
                    <span>{{ entry.name }}</span>
                    <mat-icon *ngIf="highlightAnnotation.get(entry.type)" style="vertical-align: bottom;">person
                    </mat-icon>
                </div>
                <div (tap)="selected_after(entry)" class="entryDiv entity-after" [style.background]="entry.rgb">
                    <span>&#8631;</span>
                </div>
            </div>



            <ng-container *ngIf="index != -1">
                <h2>Attributes</h2>
                <form [formGroup]="profileForm">

                    <ng-container *ngFor="let feature of feature_visu; index as i">
                        <div *ngIf="feature.type == ft.Text">
                            <mat-form-field [floatLabel]="true" appearance="outline">
                                <mat-label>{{feature.display_name}}</mat-label>
                                <input matInput formControlName={{feature.key}} placeholder="Just a placeholder">
                                <br />
                            </mat-form-field>
                        </div>


                        <div *ngIf="feature.type == ft.Select">
                            <mat-form-field [floatLabel]="true" appearance="outline">
                                <mat-label>{{feature.display_name}}</mat-label>
                                <mat-select formControlName={{feature.key}}>
                                    <mat-option *ngIf="feature.data.not_nullable !== true" [value]="null"></mat-option>
                                    <mat-option *ngFor="let feature_value of feature.data"
                                        [value]="feature_value.value">
                                        {{feature_value.display_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div *ngIf="feature.type == ft.Reference">
                            <span>{{feature.display_name}}</span><br>
                            <ng-container>
                                <div style="width:100%; display: flex">
                                    <div class="item-ref">
                                        <button (tap)="feature.data.text=null" [style.background]="feature.data.color" 
                                        class="item-ref-button" *ngIf="feature.data.text!=null">
                                            <span>{{feature.data.text}} <mat-icon class="backspace-icon" aria-hidden="false"
                                                    aria-label="Delete">backspace</mat-icon></span>
                                        </button>
                                    </div>
                                    <button style="margin-left:5px" class="item-ref-button"
                                        (tap)="selected_ref(feature.data.feature_name)">
                                        Select
                                    </button>
                                </div>
    
                            </ng-container>
                            <br>
                            
                        </div>

                        <div *ngIf="feature.type == ft.ReferenceMulti">
                            <span>{{feature.data.display_name}}</span><br>
                            <ng-container>
                                <div style="width:100%; display: flex">
                                    <div class="item-ref">
                                        <ng-container *ngFor="let value of feature.data.values; index as i">
                                            <button (tap)="value.text=null" class="item-ref-button"
                                                *ngIf="value.text!=null" [style.background]="value.color" >
                                                <span>{{value.text}} <mat-icon class="backspace-icon" aria-hidden="false"
                                                        aria-label="Delete">backspace</mat-icon></span>
                                            </button>
                                        </ng-container>
                                    </div>
                                    <button style="margin-left:5px" class="item-ref-button"
                                        (tap)="selected_ref_multi(feature.data.feature_name)">
                                        Select
                                    </button>
                                </div>
    
                            </ng-container>
                            <br>
                        </div>

                    </ng-container>


                </form>
            </ng-container>

        </div>
        <button mat-raised-button (click)="testshapenet()" [style.background]="'orange'">
            testshapenet</button>

    </mat-tab>

    <mat-tab label="Link">
        <div>
            <h2>Add Link Starting here</h2>
            <div *ngFor="let link of links" class="entryDiv" [style.background]="link.rgb" (tap)="add_link(link)">
                <span>{{ link.name }}</span>
            </div>
        </div>


        <h2>Links Starting here</h2>

        <div id="links contentholder">
            <div *ngFor="let link of links_containing_self" class="isolink entryDiv" [style.background]="'lightgreen'"
                style="border: 4px solid lightgreen; display: flex; width: max-content"
                (click)="onSelectLink(link.id, $event)" matBadgeSize="small">


                <div class="entryDiv linkstyle" [style.margin-top]="'0'" [style.background]="getBackground(link.from)" [style.border]="link.from.border"
                    >
                    {{link.from.label}} </div>
                    <div class="linkstyle">
                        <mat-icon>arrow_right_alt</mat-icon>
                    </div>


                <div class="entryDiv linkstyle"  [style.margin-top]="'0'" [style.background]="getBackground(link.to)" [style.border]="link.to.border"
                    >
                    {{link.to.label}} </div>

                <button mat-raised-button (click)="openDialog(link)" [style.background]="'orange'">Change
                    Attributes</button>

            </div>
        </div>

    </mat-tab>
</mat-tab-group>