
.select {
    text-align: center;
    margin-top: 0.5%;
    margin-right: 1em;
    margin-bottom: 0.5%;
    width: 3em;
    font-size: 0.8em;
}

.selectOption {
    text-align: center;
    
}

.image {
    width: 1em;
}