<app-tool-bar [menu]="toolbarMenu" [title]="'TOOL-QUICKANNO.TITLE'" (menuEvent)="onMenuSelect($event)">
</app-tool-bar>

<app-contentholder class="content" [inData]="data" [pageSize]="pageSize" (selectionChanged)="tokenSelect($event)"
    (createMultiToken)="createMultiToken($event)" (removeMultiToken)="removeMultiToken($event)"
    [inAnnotations]="mode === 2 ? commentData : annoData" [filters]="mode != 2 ? activeFilters : []">
</app-contentholder>

<div class="footer" fxLayout="row" fxLayoutAlign="center center" *ngIf="mode === 0">
    <button mat-stroked-button fxFlex="grow" style="margin: 1%;"
        [style.background]="selectedAnnotation && selectedAnnotation.rgb || '#FFFFFF'"
        (click)="chooseClass()">{{ selectedAnnotation ? selectedAnnotation.name : ('TOOL-QUICKANNO.NOSELECT' | translate) }}</button>
</div>